{% extends "index.html" %}
{% load static %}

{% block content %}

<section class="about">
    <h2>О нашем магазине</h2>
    <img src="{% static '/images/shop.png' %}"></span>
    <h3>Более 350 сортов на витрине!</h3>
    <p>
        AssorTEA - магазин чая в новом формате. Покупатель самостоятельно выбирает чай на витрине, пробует аромат, 
        рассматривает чайный лист. QR код на чае помогает зайти в онлайн-карточку и узнать: где растет чай, как заваривать 
        чай правильно, какой вкус, и другие чайные рекомендации.
    </p>
    <img src="{% static '/images/shop.png' %}"></span>
    <h3>Вкусный чай</h3>
    <p>
        Сотни сортов чая проходят через наши чайники и пиалы. Мы каждый день дегустируем новые чайные вкусы и ароматы. 
        В магазине остается только тот чай, который нравится нам и нашим клиентам. Чайные продавцы помогут подобрать 
        чай по вкусу и настроению. Приходите в магазин чая за новыми вкусами. Вкусный чай изменит настроение 
        и всегда поддержит добрую беседу.
    </p>
    <img src="{% static '/images/shop.png' %}"></span>
    <h3>Помощь в выборе чая</h3>
    <p>
        Выбор чая - ароматный и интересный процесс. Чай окутан мифами и легендами, тайнами рецептов и смешными историями. 
        Мы с удовольствием делимся с покупателями знаниями об отдельных сортах чая и стараемся рассказать что-то новенькое. 
        Приходите к нам в чайный магазин.
    </p>
    <img src="{% static '/images/shop.png' %}"></span>
    <h3>Доставка чая в любую точку России</h3>
    <p>
        Доставка чая - особенное удовольствие, у нас это получается быстро и качественно. 
        Мы удивляем своих клиентов скоростью доставки и надежностью упаковки. 
        Оформите заказ и в кратчайшие сроки мы передадим его в службу доставки. 
        Мы доставим чай в любую точку в любом районе города, края, страны и мира. 
        Мы будем споокойны тогда, когда Вы получите свой заказ!
    </p>
    <img src="{% static '/images/shop.png' %}"></span>
    <h3>Подарочная упаковка чая для каждого клиента</h3>
    <p>
        Чайный магазин AssorTEA экономит время клиентов. Вам не придется ждать пока насыпают чай. 
        Любимый чай в удобной упаковке консультант достанет из ячейки, которая своевременно 
        пополняется сотрудниками чайного магазина. А если чай или чайная посуда должна проехать несколько 
        тысяч километров, мы наджежно упакуем посылку.
    </p> 
</section>

{% endblock %}