html {
	font-family: sans-serif;
}
body {
	margin: 0;
}

ul {
    display: flex;
    padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, span, p, a, li, small, label {
    font-family: "Mulish", serif;
	margin: 0;
	color: #212517;
}
h1 {
    font-family: "Rubik Vinyl", serif;
    color: #759242;
	font-weight: 600;
	font-size: 30px;
}
h2 {
	font-weight: 600;
	font-size: 28px;
    padding-bottom: 70px;
}
h2::after {
    position: relative;
    display: block;
    content: '';
    width: 75px;
    height: 2px;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #212517;
}
h3 {
	font-weight: 600;
	font-size: 20px;
    padding: 15px 0;
}
p, li {
    font-size: 16px;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #759242;
}
b {
    color: #759242;
}
.tab {
    color: #759242;
}

button {
    height: 45px;
	padding: 0 25px;
	border-radius: 10px;
	font-size: 16px;
    color: #f2f2ef;
	background-color: #374709;
	border: 2px solid #374709;
}
button:hover {
	cursor: pointer;
    background-color: #759242;
    border: 2px solid #759242;
}

input, textarea {
    box-sizing: border-box;
    font-family: "Mulish", serif;
    display: block;
    font-size: 16px;
    padding: 12.5px 15px;
    border-radius: 10px;
    border: 1px solid #374709;
    width: 100%;
    margin-right: 25px;
}
textarea {
    resize: vertical;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="search"]:hover, textarea:hover,
input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, textarea:focus, select:focus,
input[type="text"]:active, input[type="email"]:active, input[type="search"]:active, textarea:active, select:active {
    outline: none;
    box-shadow: none;
    border-color: #759242;
}
select {
    height: 45px;
    font-family: "Mulish", serif;
    display: block;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #374709;
    border-right: none;
}

.login form, .registration form {
    padding: 35px;
    background-color: #f2f2ef;
    border-radius: 10px;
    border: #759242 solid 2px;
}
form input, textarea {
    margin: 20px 0;
}
form button, .product button, .cart button {
    width: 100%;
}

.messages {
    text-align: center;
    margin-bottom: 15px;
}

header {
    display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: #f2f2ef;
	padding: 10px 70px;
}
header nav li {
    margin: 0 50px 0 0;
}
header nav li a {
    color: #374709;
}

.social_items {
    display: flex;
}
.social_items img {
    width: 25px;
    height: auto;
    margin-left: 15px;
}
.social_items img:hover {
    cursor: pointer;
}

.header_main {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 10px 70px;
}
.header_main .logo {
    display: flex;
    justify-content: space-between;
	align-items: center;
    width: 100%;
}
.header_main .logo img {
    width: 55px;
    height: auto;
    margin-right: 15px;
}
.header_main button {
    display: flex;
    align-items: center;
    margin: 0 25px;
}
button svg {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}
.header_main .users_menu svg {
    display: flex;
    width: 35px;
    height: auto;
    margin-left: 25px;
}
.header_main .users_menu .menu_item a {
    color: #374709;
}
.header_main .users_menu .menu_item a:hover {
    color: #759242;
}

.search {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.search input {
    height: 45px;
    border-radius: 10px 0 0 10px;
    border-right: none;
}
.search button {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
}
.search button svg {
    margin: 0;
}

.main_image {
    padding: 100px 400px;
    text-align: center;
    background: linear-gradient(20deg, rgba(33,37,23,1) 0%, rgba(55,71,9,1) 29%, 
                rgba(117,146,66,1) 67%, rgba(222,211,166,1) 100%);
}
.main_image h1, .main_image h2, .main_image p {
    color: #f2f2ef;
    opacity: 100%;
}
.main_image h1 {
    font-size: 36px;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.cards {
    column-count: 3;
}
.card {
    padding: 0 70px 30px 70px;
}
.card img {
    width: 100px;
}

.type_tea {
    text-align: center;
    padding: 50px 70px 20px 70px;
}

.information {
    padding: 50px 350px;
    text-align: center;
    background-color: #f2f2ef;
}

.adventages {
    text-align: center;
    padding: 50px 70px;
    border-bottom: #f2f2ef solid 3px;
}

.feedback {
    display: block;
    text-align: center;
    padding: 50px 400px;
}
.feedback form {
    text-align: left;
}

.about {
    text-align: center;
    padding: 25px 350px 100px;
}
.about h2 {
    padding-bottom: 50px;
}
.about img {
    width: 70px;
    height: auto;
    margin-top: 25px;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 0px;
}
.sort .select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sort h2 {
    padding: 0;
}
.sort h2::after {
    display: none;
}
.sort p {
    margin-right: 15px;
}

.catalog {
    display: flex;
    padding: 25px 70px 50px;
}
.catalog .categories {
    width: 20%;
}
.catalog .categories a:hover h3 {
    color: #759242;
}
.catalog .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25px;
}
.catalog .product {
    display: flex;
    text-align: center;
    width: 150px;
    padding: 25px;
    margin: 0 0 20px 20px;
    border: #f2f2ef solid 2px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.catalog .product:hover {
    border: #759242 solid 2px;
    background-color: #f2f2ef;
}
.catalog .product p {
    margin-bottom: 5px;
}
.catalog .product img {
    width: 100px;
}
.catalog .product button {
    margin-top: 20px;
}

.cart {
    padding: 25px 70px 50px;
    min-height: 35vh;
}
.cart h2 {
    padding-bottom: 25px;
}
.cart h2::after {
    display: none;
}
.cart_data {
    display: flex;
}
.cart_data .product_list {
    display: block;
    width: 100%;
    margin-right: 35px;
}
.cart_data .product {
    display: flex;
    align-items: center;
    border: #f2f2ef solid 2px;
    border-radius: 10px;
    padding: 5px 0 20px 15px;
    margin-bottom: 15px;
}
.cart_data .product:hover {
    border: #759242 solid 2px;
    background-color: #f2f2ef;
}
.cart_data .product p, .cart_data .product h3 {
    padding-bottom: 25px;
}
.cart_data .product img {
    width: 100px;
    margin-right: 25px;
}
.cart_data .product .buttons {
    display: flex;
    align-items: center;
}
.cart_data .product .buttons .minus {
    height: 35px;
	border-radius: 10px 0 0 10px;
}
.cart_data .product .buttons .plus {
    height: 35px;
	border-radius: 0 10px 10px 0;
}
.cart_data .product .buttons p {
    height: 35px;
    padding: 0 25px;
    margin: 0;
	font-size: 16px;
    color: #f2f2ef;
	background-color: #374709;
    align-content: center;
}
.cart_data .data {
    width: 35%;
    padding: 15px 25px;
    background-color: #f2f2ef;
    border-radius: 10px;
    max-height: 140px;
}
.cart_data .data .cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.items {
    display: flex;
}
.items p {
    padding-right: 10px;
}

.info_product {
    display: flex;
    justify-content: center;
    padding: 25px 70px 50px;
}
.info_product button {
    width: 100%;
}
.info_product .image_product img {
    width: 300px;
}
.info_product .description {
    width: 60%;
    margin-left: 25px;
}
.info_product .description h2 {
    padding-bottom: 25px;
    margin-left: 25px;
}
.info_product .description h2::after {
    display: none;
}
.info_product .description p {
    margin-bottom: 25px;
    margin-left: 25px;
}
.price {
    font-family: "Rubik Vinyl", serif;
    font-size: 24px;
    font-weight: 600;
    color: #759242;
}
.info_product .description .character {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2ef;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 20px;
}
.info_product .description .character p {
    margin: 0;
}
.info_product button {
    margin-top: 10px;
}

.login, .registration {
    display: flex;
    justify-content: center;
    padding: 25px 70px 50px;
}
.login h2, .registration h2 {
    text-align: center;
}
.login form, .registration form {
    width: 550px;
}
.login .to, .registration .to {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.login .to p, .registration .to p {
    margin-right: 5px;
}

/* Страница заказов */

.user {
    padding: 25px 70px 50px;
}
.user h2 {
    padding: 0;
    margin-bottom: 25px
}
.user h2::after {
    display: none;
}
.user_orders {
    display: flex;
    justify-content: space-between;
}
.user_orders .orders {
    width: 100%;
}
.user_orders .orders .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #f2f2ef solid 2px;
    border-radius: 10px;
    padding: 35px 25px 20px 25px;
    margin: 0 50px 15px 0;
}
.user_orders .orders .order p {
    margin-bottom: 15px;
}
.user_orders .orders .order .date {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.user_orders .orders .order .first {
    width: 80%;
}
.user_orders .orders .order .order_list {
    display: flex;
    justify-content: space-between;
}
.user_orders .orders .order .order_list p {
    padding-right: 10px;
}
.user_orders .account {
    text-align: center;
    width: 30%;
    max-height: 340px;
    background-color: #f2f2ef;
    border: #759242 solid 2px;
    border-radius: 10px;
    padding: 50px 25px;
}
.user_orders .account img {
    width: 100px;
}
.user_orders .account p {
    padding-bottom: 15px;
}
.user_orders .account .name {
    display: flex;
    justify-content: center;
}
.user_orders .account .name p {
    padding: 10px 3px;
}
.user_orders .account button {
    width: 100%;
    margin-top: 10px;
}

.confirm {
    padding: 25px 150px 50px;
    text-align: center;
}
.confirm b {
    color: #374709;
}

/* Подвал сайта */

footer {
    display: flex;
    justify-content: space-between;
	align-items: center;
    background-color: #759242;
	padding: 50px 70px;
}
footer b {
    font-weight: 700;
    color: #f2f2ef;
}
footer .logo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
footer .logo img {
    width: 70px;
}
footer .logo h1 {
    color: #f2f2ef;
    margin-left: 15px;
}
footer .navigation {
    display: flex;
}
footer .navigation .menu {
    display: block;
    margin-right: 100px;
}
footer .navigation .menu li {
    margin: 10px 0;
}
footer .navigation .menu li a {
    color: #f2f2ef;
}
footer .address .address_items {
    display: block;
}
footer .address .address_items li {
    color: #f2f2ef;
    margin: 5px 0;
}
footer .address .address_items hr {
    margin: 15px 0;
}

.copyright {
    background: #f2f2ef;
    text-align: center;
    padding: 15px 0;
}
.copyright p {
    font-size: 11px;
}
.copyright p a {
    font-size: 12px;
}
.copyright p a strong {
    color: #374709;
}
.copyright p a strong:hover {
    color: #759242;
}

#snackbar {
    visibility: hidden;
    background-color: #759242;
    color: #f2f2fe;
    text-align: center;
    border-radius: 10px;
    padding: 15px 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    font-family: "Mulish", serif;
    font-size: 14px;
    font-weight: 600;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 10px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 10px; opacity: 1;} 
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {right: 10px; opacity: 1;}
    to {right: 0; opacity: 0;}
}